#Anything in the data folder
data/*
scripts/data/*
scripts/results/*

# Cached data
cache/*

# Any private keys
scripts/keys/*

# Ignore Apples's folder customization file 
.DS_Store

# Ignore R history
.Rapp.history
.RData
.Rhistory

# Ignore Autosaved files
*(Autosaved)*
