#Anything in the data folder
data/*
scripts/data/*

# Cached data
cache/*

# Any private keys
scripts/keys/*

# Ignore Apples's folder customization file 
.DS_Store

# Ignore R history
.Rapp.history

# Ignore Autosaved files
*(Autosaved)*
